.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}
.title {
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  /* make the text transporent then clip background to only apply to text */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.desc {
  font-size: 24px;
  font-weight: 300;
}
.button {
  padding: .6rem 1rem;
  cursor:pointer;
  background-color:#53c28b;
  border: none;
  border-radius: 0.2rem;
  width: max-content;
  color: white;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(0px) scale(1.03);
  }
}